name: CI

on:
  pull_request:
  push:

jobs:
  test-ios:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - name: Build and Test iOS
        run: |
          cd apps/ios
          xcodebuild -scheme OvaFlus -destination 'platform=iOS Simulator,name=iPhone 15' clean build test
